@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: linear-gradient(to bottom left, #c6b3e7, #8eddd6, #97d0ff);
  min-height: 100vh;
  background-size: cover;
}